.logo {
    height: 36px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom:1px solid white ; */
  }
  .hrc{
  
    border-bottom: 1px solid  rgba(255, 255, 255, 0.3);
    margin-bottom: 10px ;
  }