


.main-container {
    /* margin: 20px 14px 0px 14px; */
   
    box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.32);
    min-height: calc(100vh - 115px);
    overflow-y: auto;
    border-radius: 10px;
    .layout-children {
      margin: 0px 25px 5px 25px;
      overflow-y: auto;
      overflow-x: hidden;
    
        &::-webkit-scrollbar {
          width: 6px;
          background-color: #f5f5f5;
        }
      
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 20px 20px #ececec;
          box-shadow: inset 0 0 20px 20px #ececec;
          background-color: #58595b;
        }
      
        &::-webkit-scrollbar-thumb {
          -webkit-box-shadow: inset 0 0 6px #acb0b5;
          box-shadow: inset 0 0 6px #acb0b5;
          border-radius: 50px;
        
      }
      height: calc(100vh - 144px);
    }
  }
  .Dashboard-admin-company{
    background-color:#E6E6E6 !important;
    font-family: sans-serif !important;
  }
  .container-header {
    padding: 10px 25px 0px 25px;
    margin-bottom: 10px;
    background-color: transparent;
    line-height: 40px;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    .header-title {
      font-size: 18px;
      margin: 0;
      text-transform: capitalize;
      line-height: 40px;
      font-family: "sans-serif";
      
    }
  
    .align-center {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }