.content_container{
    padding: 8px;
    background-color: #d7d4d4;
    height: 93vh;
    width: 100%;
}
.content_box{
    border-radius: 8px;

    background-color: #fff;
    height: 100%;
    width: 100%;
}
.layout_header{
    height:7vh;
    background-color: #fff;
}
.layout-sider{
    border-right: 1px solid #ededed;
}